/Applications/Certificate/nbproject/private/
/Applications/MCerSoft/nbproject/private/
/Applications/MCerSoft/build/
/Applications/Certificated/nbproject/private/
/Applications/MCerSoft/dist/
/MoiCerti/dist/